.loginRegisterHeader {
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
    color: var(--white);
}

.loginRegSubHeader {
    margin-bottom: 0;
    font-size: var(--paragraphFontSize);
}

#inputZone {
    padding-bottom: 10vh;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-bottom: 30vh;
}

.input-container {
    position: relative;
    display: inline-block;
}

.userInfo {
    height: 5vh;
    margin: 0;
    text-align: center;
    color: var(--red);
    position: relative;
    bottom: 1vh;
    font-size: var(--paragraphFontSize);
}

p.btnLoginPage,
p.btnRegPage {
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

p.btnLoginPage>span,
p.btnRegPage>span {
    font-weight: bold;
    text-decoration: underline;
}

.selectProfilePic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectProfilePic>div {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selectProfilePic>div.selected {
    border: 2px solid blue;
}

/*CHANGE TO CORRECT CLASSES AND PICTURES*/
.mulan {
    background-image: url(../media/mulan.jpeg);
}

.ariel {
    background-image: url(../media/ariel.jpeg);
}

.belle {
    background-image: url(../media/belle.jpeg);
}

.remi {
    background-image: url(../media/remi.webp);
}

.edna {
    background-image: url(../media/edna.jpg);
}

.rapunzel {
    background-image: url(../media/rapunzel.jpeg);
}