.boardOfCharracters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5vh;
    column-gap: 2vh;
    padding-top: var(--padding);
}

.boardOfCharracters>div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    justify-content: end;
    align-items: center;
}

.boardOfCharracters > div.skinner > img{
    width: 9vh;
}





.suspect {
    display: flex;
    align-items: end;
}

.suspect>div {
    background-color: var(--yellow);
    border-radius: 10px 10px 0 0;
    text-align: center;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suspect>div>p {
    color: var(--black);
    font-size: 12px;
}

.guessMurderPopup {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh 3vh 5vh 3vh;
    width: 70%;
    text-align: center;
    margin-bottom: 12vh;
    z-index: 4;
}

.guessMurderPopup>p,
.guessMurderPopup>h3 {
    color: var(--blue);
}

.guessMurderPopup>h3 {
    font-family: lakkiReddy;
    font-size: var(--mainHeading);
}

.guessMurderPopup>button {
    background-color: var(--red);
    color: var(--blue);
    border: none;
    font-weight: 600;
}

.guessMurderContainer {
    background-color: var(--seeThrough);
    position: fixed;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
}

/*Murder guess page*/

.titleMurderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

.murderGuess>.bottomWrapper {
    position: fixed;
    bottom: 5vh;
    width: 80%;
}

h2.yellow {
    color: var(--yellow);
    font-size: 40px;
    margin-bottom: 0;
}

h2.red {
    color: var(--red);
    font-size: 40px;
}

.murderGuess h3 {
    font-size: 34px;
}

.murderGuess button {
    height: 50px;
}

.character {
    display: flex;
    flex-direction: column;
}

.character img {
    width: 11vh;
}

.musseImage{
    height: 25vh;
    width: 25vh;
    background-image: url(../media/mussee.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.murderReveal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.murderReveal > h2{
    margin-top: 10vh;
}

.murderReveal > h3{
    margin-top: -1vh;
    margin-bottom: 3vh;
}

.murderReveal > h2.red{
    margin-top: 3vh;
}

.btnListenToStory{
    position: fixed;
    bottom: 10vh;
    width: 80%;
}