.characterTopWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characterTopWrapper>h2 {
    color: var(--headerYellow);
}

.characterTopWrapper>.charracterImage {
    position: static;
}

.characterShortDescription>div {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.characterShortDescription p {
    margin: 1vh;
}

.characterShortDescription svg {
    width: 33.261px;
    height: 34px;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    gap: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.buttons>button {
    border-radius: 40px;
    border: 1px solid var(--yellow);
    background-color: transparent;
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.buttons>button.selected {
    background-color: var(--yellow);
    color: var(--black);
}

.buttons>button:hover,
.buttons>button:active {
    background-color: var(--yellow);
    color: var(--black);
}

.playBtnBackground {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 7vh;
}

.btnPlayAudio {
    position: absolute;
    top: -4vh;
}

.btnPlayAudio.hidden {
    display: none;
}

.btnPauseAudio {
    position: absolute;
    top: -4vh;
}

.btnPauseAudio.hidden {
    display: none;
}