.characterTopWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characterTopWrapper>h2 {
    color: var(--headerYellow);
    margin-bottom: 0;
    position: relative;
    top: 2vh;
}

.characterTopWrapper>.charracterImage {
    position: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -1vh;
    height: 24vh;
}

.charracterImage.cruellaDeVil {
    background-image: url(../media/cruellaDeVil.png);
}

.charracterImage.kaptenKrok {
    background-image: url(../media/kaptenKrok.png);
    margin-bottom: 0;
}

.charracterImage.snövit {
    background-image: url(../media/snovit.png);
}

.charracterImage.prinsJohn {
    background-image: url(../media/prinsJohn.png);
    margin-bottom: -2vh;
}

.charracterImage.hjärterDam {
    background-image: url(../media/hjarterDam.png);
}

.charracterImage.hattmakaren {
    background-image: url(../media/hattmakaren.png);
}

.charracterImage.hades {
    background-image: url(../media/hades.png);
}

.charracterImage.törnrosa {
    background-image: url(../media/tornrosa.png);
}

.charracterImage.darla {
    background-image: url(../media/darla.png);
    margin-bottom: -3vh;
}

.charracterImage.musse {
    background-image: url(../media/musse.png);
}

.charracterImage.skinner {
    background-image: url(../media/skinner.png);
    margin-bottom: 1vh;
}

.charracterImage.ursulla {
    background-image: url(../media/ursulla.png);
}

.characterShortDescription>div {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.characterShortDescription p {
    margin: 1vh;
}

.characterShortDescription svg {
    width: 33.261px;
    height: 34px;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    gap: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.buttons>button {
    border-radius: 40px;
    border: 1px solid rgba(255, 225, 154, 0.5);
    background-color: transparent;
    color: rgba(255, 225, 154, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.buttons>button.selected {
    background-color: var(--yellow);
    color: var(--black);
}

.buttons>button:hover,
.buttons>button:active {
    background-color: var(--yellow);
    color: var(--black);
}

.playBtnBackground {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 10vh;
}


.btnPlayAudio.hidden {
    display: none;
}


.btnPauseAudio.hidden {
    display: none;
}

.bottomInfo {
    padding-bottom: 15vh;
}

#seekBar{
    position: absolute;
    top: 0;
    width: 90%;
}



input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #D9D9D952;
    outline: none;
}

nput[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background-color: #25227f; /* Progress color */
    border-radius: 3px;
}

