.btnBack {
    margin-top: 5vh;
}

.controlQuestion>h2 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: var(--mainHeading);
}

.controlQuestion>p {
    text-align: center;
    margin-bottom: 4vh;
    margin-top: -5vh;
}

.inputWrapper.word {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputWrapper.word>label {
    color: #FFFFFF30;
    position: absolute;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%)
}

.inputWrapper.word>input {
    background: transparent;
    border-bottom: 1px solid #FFFFFF30;
    border-radius: 0px;
    font-family: openSans;
}

.inputWrapper.number {
    gap: 4vh;
}

.inputWrapper.number>input {
    height: 15vh;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 50px;
    background: transparent;
    border: 1px solid #73737350;
    text-align: center;
}

.inputWrapper.time {
    gap: 1vh;
}

.inputWrapper.time>p {
    font-size: 50px;
    margin-top: 3vh;
}

.inputWrapper.time>input {
    height: 15vh;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 50px;
    background: transparent;
    border: 1px solid #73737350;
    text-align: center;
}

.inputWrapper.ursulla {
    text-align: center;
}

.inputWrapper.ursulla div>input {
    background-color: transparent;
    border: 1px solid #73737350;
    height: 15vh;
    width: 75%;
    font-size: 50px;
    text-align: center;
}

.inputWrapper.ursulla>div>label {
    color: var(--white);
    font-family: lakkiReddy;
    font-size: var(--subHeading);
}

.inputWrapper.headChef {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.inputWrapper.headChef>div {
    display: flex;
    gap: 1vh;
}

.inputWrapper.headChef>label {
    color: var(--white);
    font-family: lakkiReddy;
    font-size: var(--subHeading);
}

.inputWrapper.headChef>div>input {
    background: transparent;
    border: 1px solid white;
    height: 12vh;
    text-align: center;
    font-size: 50px;
}

body>main.controlQuestion>h2.headChef {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5vh;
}

.btnUnlock {
    bottom: 2vh;
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: none;
}

.btnUnlock:hover,
.btnUnlock:active {
    background-color: var(--headerYellow);
}

.feedbackPopup > h3{
    color: var(--black);
}