:root {
    --white: #5D5D5D;
    --black: #000000;

    --padding: 3vh;
    --borderRadius: 30px;

    --btnHeight: 4.7vh;

    --paragraphFontSize: 16px;
    --buttonFontSize: 20px;

}

@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: openSans;
}

button{
    border-radius: var(--borderRadius);
    width: 90%;
    height: var(--btnHeight);
    border: 1px solid var(--black);
    background-color: transparent;
    cursor: pointer;
    font-size: var(--buttonFontSize);
}

p.btnLoginPage, p.btnRegPage{
    text-align: center;
    cursor: pointer;
}

p.btnLoginPage > span, p.btnRegPage > span{
    font-weight: bold;
}

input{
    height: 4.7vh;
    width: 100%;
    border-radius: 30px;
    border: 1px solid black;
}

.btnPlayAudio{
    width: 13vw;
    height: 6vh;
    background-image: url(../media/playIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btnPauseAudio{
    background-image: url(../media/pauseIcon.svg);
}

main{
    height: 100vh;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
