:root {
    /*Colors*/
    --white: #DFDFE0;
    --black: #000000;
    --grey: #828FA0;
    --blue: #000F23;
    --headerYellow: #F9CE69;
    --yellow: #FFE19A;
    --red: #E34A4A;
    --seeThrough: rgba(0, 0, 0, 0.7);

    /*Font sizes*/
    --mainHeading: 30px;
    --subHeading: 24px;
    --titleHeading: 20px;
    --paragraphFontSize: 16px;
    --buttonFontSize: 16px;

    /*Other*/
    --padding: 5vh;
    --borderRadius: 20px;

    --btnHeight: 6vh;

}

@font-face {
    font-family: lakkiReddy;
    src: url(../fonts/LakkiReddy-Regular.ttf);
}

@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1 {
    margin-top: 0;
    font-family: lakkiReddy;
}

h2 {
    margin-top: 0;
    font-family: lakkiReddy;
    font-size: var(--subHeading);
    color: var(--white);
    text-align: center;
}

h3 {
    font-size: var(--subHeading);
    font-family: lakkiReddy;
    color: var(--white);
    margin-top: 1vw;
    padding-left: 1.8vh;
    margin-bottom: 0;
}

h4{
    font-family: openSans;
    font-size: var(--paragraphFontSize);
    color: var(--white);
}

p {
    font-size: var(--paragraphFontSize);
    color: var(--white);
}

label {
    font-size: var(--paragraphFontSize);
    font-family: openSans;
    color: var(--white);
}

.readableText {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
}



p.secondaryText {
    color: var(--grey);
}

#happily {
    font-size: 40px;
    color: var(--yellow);
    margin: 0;
}

#never {
    font-size: 80px;
    color: var(--white);
    margin: 0;
}

#never>span {
    font-size: 90px;
}

#after {
    font-size: 40px;
    color: var(--red);
}

#startPageBtns {
    display: flex;
    gap: 4vw;
    padding-top: 27vh;
}

.btnNewGame {
    background-color: transparent;
    border: 0.5px solid var(--yellow);
    color: var(--yellow);
}

.btnNewGame:hover,
.btnNewGame:active {
    border: .5px solid var(--headerYellow);
    color: var(--headerYellow);
    background-color: transparent;
}

#startPageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: openSans;
    background-image: url(../media/Background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--blue);
}

button {
    border-radius: var(--borderRadius);
    width: 100%;
    padding: 0;
    height: var(--btnHeight);
    background-color: var(--yellow);
    cursor: pointer;
    font-size: var(--buttonFontSize);
    font-family: openSans;
    font-weight: 500;
    border: 0.5px solid var(--yellow);
    color: var(--black);
}

button:hover,
button:active {
    background-color: var(--headerYellow);
}


input {
    height: 5.2vh;
    width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: var(--paragraphFontSize);
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 10px;
    color: var(--white);
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.btnPauseAudio {
    background-image: url(../media/pauseIcon.svg);
}

main {
    height: 100vh;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

/*Error popup*/
.popupDarkBackground {
    height: 100%;
    width: 100%;
    background: url(../media/background.png);

    display: flex;
    justify-content: center;
    align-items: center;

}

.popupDarkBackground>div {
    background-color: var(--white);
    border-radius: 20px;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupDarkBackground>div>h2 {
    margin-bottom: 0;
    color: var(--black);
}

.popupDarkBackground>div>p {
    margin-top: 0;
    color: var(--black);
}

.popupDarkBackground>div>button {
    border: none;
    width: 85%;
}

.popupDarkBackground>div>button:active {
    background-color: var(--headerYellow);
}


/*Download Instructions*/

h2.downloadInstructions{
    color: var(--headerYellow);
    padding-top: 5vh;
}

p.downloadInstructions{
    padding-bottom: 3vh;
}

ul.downloadInstructions > li{
    color: var(--white);
    padding-bottom: 2vh;
}

ul.downloadInstructions{
    list-style-type: none;
    padding-bottom: 30vh;
    padding-left: 2vh;
}

h3.downloadInstructions{
    display: flex;
}

.safari{
    background-image: url(../media/safari.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3vh;
    width: 3vh;
}

.chrome{
    background-image: url(../media/chrome.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3vh;
    width: 3vh;
}
