
.mainMap{
    background-image: url(../media/preliminaryBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding: 0;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    color: var(--black);
}

.pin{
    position: absolute;
}

.pin.selected path{
    fill: red;
}

.hoock{
    top: 50vh;
    right: 50vw;
}

.cruella{
    top: 30vh;
    right: 10vw;
}

.princeJohn{
    top: 30vh;
    right: 70vw;
}

.ursulla{
    top: 70vh;
    right: 50vw;
}

.popUp{
    background-color: #ffffffbf;
    border-radius: 30px 30px 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.popUp > div{
    display: flex;
}

.navbar{
    position: fixed;
    background-color: white;
    width: 90%;
    bottom: 2vh;
    height: 8vh;
    border-radius: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar.hidden{
    display: none;
}

.logOutBtn{
    width: 7vh;
    height: 7vh;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.popupBackground{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000b2;
}

.confirmPopup{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 2vh;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirmPopup > div{
    display: flex;
}