.mainMap {
    background-image: url(../media/litemerkarta.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-size: 150%;
    position: relative;
    padding: 0;
}



.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    color: var(--black);
}

.topbar>div {
    display: flex;
    gap: 2vh;
}

.topbar>div>p {
    font-family: lakkiReddy;
    font-size: var(--titleHeading);
}

.infoIcon {
    background-image: url(../media/aboutIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4vh;
    width: 4vh;
}

.pin {
    position: absolute;
    height: 4.5vh;
}

.pin.selected path {
    fill: var(--red);
    height: 7.5vh;
}

.pin.selected {
    height: 5.5vh;

}

.pin.kaptenKrok {
    top: 62vh;
    right: 15vw;

}

.pin.cruellaDeVil {
    top: 69vh;
    right: 6vw;
}

.pin.prinsJohn {
    top: 36vh;
    right: 52vw;
}

.pin.ursulla {
    top: 58vh;
    right: 52vw;
}

.pin.musse {
    top: 65vh;
    left: 25vw;
}

.pin.hades {
    top: 28vh;
    right: 55vw;
}

.pin.snovit {
    top: 35vh;
    right: 77vw;
}

.pin.tornrosa {
    top: 70vh;
    right: 57vw;
}

.pin.darla {
    top: 80vh;
    right: 80vw;
}

.pin.hjarterDam {
    top: 44vh;
    right: 54vw;
}

.pin.hattmakaren {
    top: 54vh;
    right: 69vw;
}

.pin.skinner {
    top: 74vh;
    right: 41vw;
}

.pin.unlocked path{
    fill: #00000039;
    stroke: var(--black);
}

.popUp {
    background-color: rgba(0, 13, 29, 0.76);
    border-radius: 30px 30px 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 25vh;
    padding: 2vh 3vh 2vh 3vh;
    box-sizing: border-box;
}

.popUp>div {
    display: flex;
}

.navbar {
    position: fixed;
    background-color: rgba(0, 15, 34, 0.7);
    border: 0.5px solid rgba(206, 206, 206, 0.13);
    width: 82%;
    bottom: 2vh;
    height: 7vh;
    border-radius: var(--borderRadius);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar.hidden {
    display: none;
}

.btnProfile {
    width: 6vh;
    height: 6vh;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.popupBackground,
.confirmActionPopupBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000b2;
}

.confirmPopup {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 2vh;
    width: 80%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirmPopup>div {
    display: flex;
}

.charracterImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    width: 15vh;
    position: absolute;
    top: -44px;
}

.popUp > div{
    margin-bottom: 3vh;
}

.popUp > div > img {
    width: 14vh;
    position: absolute;
    top: -44px;
    left: 3vh;
}

.charracterInfo {
    padding-left: 32vw;
}

.charracterInfo h3 {
    color: var(--headerYellow);
    padding-left: 0;
    font-size: 25px;
}

.charracterInfo p {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.Cruella {
    background-image: url(../media/cruella.png);
}

.coordinates {
    display: flex;
    flex-direction: column;
}

.coordinates p {
    margin: 0;
    display: flex;
    align-items: center;
}





/*Control question*/

.inputWrapper {
    display: flex;
}

.inputWrapper.singleDigit {
    justify-content: center;
    align-items: center;
}

.inputWrapper.singleDigit>input.input1 {
    width: 25vw;
    flex-basis: unset;
    flex-grow: unset;
}

input[type=number] {
    -moz-appearance: textfield;
}

.wrongAnswerPopup {
    height: 100%;
    width: 100%;
    background-color: #00000091;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrongAnswerPopup>div {
    background-color: var(--white);
    border-radius: 20px;
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    box-sizing: border-box;
}

.wrongAnswerPopup>div>h2 {
    color: var(--black);
    margin-bottom: 0;
}

.wrongAnswerPopup>div>p {
    margin-top: 0;
    color: var(--black);
    text-align: center;
}

.wrongAnswerPopup>div>button {
    border: none;
    width: 85%;
}

.wrongAnswerPopup>div>button:active {
    background-color: var(--headerYellow);
}