.profileInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

.profilePic {
    height: 20vh;
    width: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.selectProfilePic>div.selected {
    border: 1px solid black;
}

body>main:nth-child(1)>h2:nth-child(2) {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.input-field>p:nth-child(2) {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    padding-bottom: 10vh;
}

#editProfile {
    padding-top: 8vh;
}

.profileInfoWrapper>h2:nth-child(1) {
    padding-top: 5vh;
}

hr {
    border: none;
    border-top: 0.1px solid rgba(255, 255, 255, 0.5);
}

.btnChangePassword, .btnDeleteAccount{
    width: 80%;
    position: fixed;
    bottom: 10vh;
}

.userFeedback.bad, .input-field > p:nth-child(2).bad{
    color: var(--red);
}

.userFeedback.good{
    color: #06a706;
}