.profileInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

.profilePic {
    height: 20vh;
    width: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.selectProfilePic>div.selected {
    border: 1px solid black;
}

.profileHeader {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.input-field>p:nth-child(2) {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    padding-bottom: 10vh;
}

#editProfile {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
}

.profileInfoWrapper>h2:nth-child(1) {
    padding-top: 5vh;
}

hr {
    margin: 0;
    height: 2vh;
    border: none;
    border-top: 0.1px solid rgba(255, 255, 255, 0.5);
    margin-top: 2vh;
}

.btnChangePassword,
.btnDeleteAccount {
    width: 80%;
    position: fixed;
    bottom: 10vh;
}

.userFeedback.bad,
.input-field>p:nth-child(2).bad {
    color: var(--red);
}

.userFeedback.good {
    color: rgba(255, 255, 255, 0.6);
}

/*Confirm delete account popup*/
.confirmActionPopupBackground>div {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 2vh;
    width: 80%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirmActionPopupBackground>div>h2 {
    color: var(--black);
}

.confirmActionPopupBackground>div>div>button {
    background-color: var(--yellow);
    color: var(--black);
}

.editSection {
    display: flex;
    align-items: center;
}

.edit {
    padding-left: 2vh;
}

.deletePopup p {
    color: var(--blue);
}